services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 10s
      timeout: 10s
      retries: 15

  producer-order:
    build:
      context: ..
      dockerfile: streaming-kafka/producer_order/Dockerfile
    ports:
      - "6000:5000"
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
    depends_on:
      kafka:
        condition: service_healthy

  inventory-consumer:
    build:
      context: ..
      dockerfile: streaming-kafka/inventory_consumer/Dockerfile
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
    depends_on:
      kafka:
        condition: service_healthy

  analytics-consumer:
    build:
      context: ..
      dockerfile: streaming-kafka/analytics_consumer/Dockerfile
    environment:
      - KAFKA_BOOTSTRAP=kafka:9092
      - CONSUMER_GROUP=analytics-group
      - METRICS_FILE=/data/metrics_output.json
    volumes:
      - ./metrics:/data
    depends_on:
      kafka:
        condition: service_healthy
